[submodule "themes/academic"]
	path = themes/academic
	url = https://github.com/gcushen/hugo-academic.git
[submodule "data/themes/hugo-academic"]
	path = data/themes/hugo-academic
	url = https://github.com/kylemontague/hugo-academic.git